@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>

@*Replace Default Message*@
<h3>@*@ViewBag.Message*@</h3>
<h3>Liam Stull</h3>

<p>A driven and reliable finance professional with experience in FP&A, Treasury Management, and Corporate Accounting looking to merge these skills with a new career in technology.   As a detail-oriented producer, ensures the accuracy of critical documents and sees tasks through to successful completion.  An adaptable and versatile performer, works well both independently and as part of a team, and possesses a proven ability to contribute to the success of an organization. </p>

<div class="row">
    <div class="col-md-4">
        <h3>Professional Experience</h3>
        <ul>
            <li>We Can Code IT - Software Development Student</li>
            <li>OM Group, Inc. - Treasury Management</li>
            <li>Hyland Software, Inc. - General Accounting</li>
            <li>Forest City Enterprises - Financial Analysis</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Skills</h3>
        <ul>
            <li>C#, .NET, SQL, JavaScript, HTML, CSS</li>
            <li>MS Office Suite, SAP, Hyperion, OnBase</li>
            <li>BudgeTrac, MAS200, Softrax</li>
            <li><a href="https://github.com/wstull03" target="_blank">https://github.com/wstull03</a></li>
        </ul>
    </div>
    <div class="col-md-4 imghead vertical-center img-circle ">       
    </div>
</div>