@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>

@*Replace Default Message*@
<h3>@*@ViewBag.Message*@</h3>
<h3>Liam Stull</h3>

<address>
    1442 Orchard Grove Ave<br />
    Lakewood, OH 44107<br />
    <abbr title="Phone">P:</abbr> 111.222.3333<br />
    <abbr title="Email">E:</abbr> wstull03@jcu.edu<br />
</address>

<address>
    <strong>LinkedIn:</strong>   <a href="https://www.linkedin.com/in/william-stull-87ba56117?authType=NAME_SEARCH&authToken=lKiM&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A489319007%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1463956829933%2Ctas%3AWilliam%20Stull" target="_blank">https://www.linkedin.com/in/william-stull</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/wstull03" target="_blank">https://github.com/wstull03</a>
</address>