body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.mainImage {
    background-image: url('../Images/Panarama.jpg'); background-size:cover;
    border:0px;
    
    
}

.btn-gray {
  color: #ffffff;
  background-color:darkslategray;
  border-color: black;
}

.btn-blue {
  color: #ffffff;
  background-color: #428bca;
  border-color: black;
}

.projectshead {
    font-weight:600;
    text-decoration:underline;
}

.projectslist {
    font-size:small;
}
.imghead {
    background-image: url('../Images/Liam.JPG');
    background-size:cover;
    background-position:center center;
    height:200px;


}
.vertical-center{
    align-items:center;
    display:flex;
    min-height:348px;
}


